main {
    margin-top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    gap: 20px 0px;
}
section {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dadada;
}
#main_movie {
    width: 100vw;
    height: 100vh;
    justify-content: flex-end;
    flex-flow: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#movie_description {
    padding: 0px 40px;
    padding-bottom: 60px;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-flow: column;
    gap: 10px 0px;
    background: linear-gradient(0deg,rgba(17, 17, 17, 1) 10%, rgba(87, 199, 133, 0) 100%);
}
#movie_title {
    font-size: 2em;
    font-weight: bold;
}
#movie_data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 20px;
}
#movie_rate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 10px;
}
#movie_rate p {
    font-size: 0.95em;
    font-weight: 500;
}
#movie_rate div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85em;
}
.colored {
    color: 	#FFEB3B;
}
#movie_category {
    color: #dadada;
    font-size: 0.9em;
    font-weight: 500;
}
#movie_date {
    font-size: 0.9em;
}
#synopsis {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 100px;
}
#movie_buttons {
    width: 40%;
    padding: 10px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0px 20px;
}
#movie_buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 10px;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;
    border: 1.5px solid transparent;
    transition: all 0.25s ease;
}
#movie_buttons a i {
    font-size: 1.1em;
}
#movie_buttons a p {
    font-size: 0.9em;
}
#watch {
    background-color: #006d77;
}
#save {
    opacity: 0.85;
    border-color: #f0f0f0 !important;
}
#save:hover {
    opacity: 1;
}
#watch:hover {
    color: #5bc0be;
    border-color: #006d77;
    background-color: transparent;
}
