@import url('common.css');
a {
    color: #f0f0f0;
}
body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    background-color: #111111;
    overflow-x: hidden;
}
header {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(17, 17, 17, 0.8);
    backdrop-filter: blur(8px);
}
header nav, header nav a, #right_header {
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav {
    height: 100%;
    justify-content: flex-start;
    gap: 0px 10px;
    margin-left: 50px;
}
header nav a {
    padding: 7.5px 20px;
    color: #dadada;
    gap: 0px 10px;
    transition: all 0.25s ease;
    opacity: 0.8;
    border-radius: 5px;
    font-size: 0.95em;
}
header nav i {
    font-size: 1.2em;
}
header nav a:hover {
    opacity: 1;
}
#logo {
    margin-left: 50px;
    height: 97.5%;
}
#logo img {
    height: 100%;
}
#right_header {
    flex-grow: 1;
    justify-content: flex-end;
    padding: 0px 50px;
    gap: 0px 10px;
}
#profile_button {
    width: 47px;
    height: 47px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    cursor: pointer;
    border: 2px solid #111111;
    transition: all 0.25s ease;
}
#profile_button:hover {
    border-color: #464646;
}
#dark_mode {
    margin-right: 20px;
}
#right_header>button {
    padding: 7.5px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    color: #dadada;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.25s ease;
}
#search_button {
    margin: 0;
}
#right_header>button:hover, #search_button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.closed input {
    width: 0;
    display: none;
    overflow: hidden;
}
.closed #submit_search {
    display: none;
}
#profile_dropdown {
    position: fixed;
    z-index: 2;
    width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border-radius: 5px;
    background-color: #26262c;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px 0px;
    transition: all 0.25s ease;
}
#profile_dropdown>* {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    gap: 0px 10px;
    color: #dadada;
    cursor: pointer;
    transition: all 0.25s ease;
}
#search_input {
    position: fixed;
    z-index: 2;
    height: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #26262c;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.25s ease;
}
.opened {
    display: flex !important;
}
.closed {
    opacity: 0;
}
#profile_dropdown i {
    font-size: 1em;
}
#profile_dropdown p {
    font-size: 0.85em !important;
    font-weight: 400;
}
#profile_dropdown>*:hover {
    background-color: #464646;
}
#profile_dropdown>*:active {
    background-color: #26262c;
}
#search_input input {
    width: 300px;
    height: 100%;
    padding: 0px 20px;
    border: none;
    outline: none;
    color: #dadada;
    font-size: 0.8em;
    background-color: transparent;
}
#search_input button {
    width: 45px;
    height: 100%;
    border: none;
    font-size: 0.9em;
    color: #dadada;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.25s ease;
}
#search_input button:hover {
    background-color: #464646;
}
main {
    margin-top: 100px;
}
